html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.randomizerButton{
  padding: 15px;
  background-color: #ffbff5;
}

.textSpacing{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 180px;

}
